* {
    font-family: Garamond, serif;
    color: white;
}

header {
    background-color: Indigo;
    text-align: center;
    margin: 2px;
}

#lewy, #prawy {
    background-color: Indigo;
    height: 600px;
    float:left;
}

#srodkowy {
    background-color: black;
    height: 600px;
    overflow: scroll;
}

@media(min-width:800px){
    #lewy,#prawy{
        width:20%;
        float:left;
    }
    #srodkowy{
        width:60%;
        float:left;
    }
}

footer {
    background-color: Indigo;
    height: 150px;
}

.point {
    background-color: Tomato;
    border-radius: 50%;
    margin: 5px;
}

li {
    margin: 5px;
}

.game-block {
    display: inline-block;
    text-align: center;
    margin: 3px;
}

input[type="text"] {
    margin: 10px;
    color: Indigo;
}