* {
    font-family: Garamond, serif;
    color: white;
}

header {
    background-color: Indigo;
    text-align: center;
    padding: 2px;
}

#lewy, #prawy {
    background-color: Indigo;
    height: 600px;
    float:left;
}

#srodkowy {
    background-color: black;
    height: 600px;
    overflow: scroll;
}

@media(min-width:800px){
    #lewy,#prawy{
        width:20%;
        float:left;
    }
    #srodkowy{
        width:60%;
        float:left;
    }
}
@media(max-width:799px){
        #lewy,#prawy,#srodkowy{
            clear:both;
        }
}

footer {
    background-color: Indigo;
    height: 150px;
    clear:both;
}

#punkty {
    background-color: Tomato;
    border-radius: 50%;
    padding: 5px;
}
li {
    padding: 5px;
}

.gry {
    float:left;
    text-align: center;
    padding: 3px;
}

input {
    margin: 10px;
    color: Indigo;
}