*{
	font-family:Roboto, Serif;
}
header{
	background-color:Crimson;
	color:white;
	text-align:center;
	letter-spacing:5px;
	word-spacing:30px;
	padding:10px;
}
#lewy{
	background-color:MistyRose;
	height:300px;
	padding:10px;
	margin: 10px 50px;
	border: 1px solid Crimson;
}
#lewy>img{
	float:left;
	height:100%;
}
.oferta{
	background-color:Snow;
	height:450px;
	width:21%;
	margin:1%;
	text-align:center;
	border: 1px solid Crimson;
	float:left;
}
#prawy{
	clear:both;
}
footer{
	background-color:Crimson;
	color:white;
	clear:both;
}
img{
	max-width:100%;
}
h4{
	font-size:180%;
	text-align:center;
	color:Crimson;
}
a{
	color:white;
}