*{
    font-family: Roboto, serif;
}
header{
    background-color: crimson;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding: 10px;
}
#pierwszy{
    background-color: mistyrose;
    height: 300px;
    padding: 10px;
    margin: 10px 50px 10px 50px;
    border: 1px solid crimson;
}
#pierwszy>img{
    float: left;
    height:100%;
}
.oferta1, .oferta2 {
    background-color: snow;
    height: 450px;
    width:1%;
    text-align: center;
    border: 1px solid crimson;
    float:left;
}
#trzeci{
    clear: both;
}
footer{
    background-color: crimson;
    color: white;
}
img{
    width:100%;
}
h4{
    font-size:180%;
    text-align: center;
    color: crimson;
}
a{
    color: white;
}