body{
    font-family: Garamond;
}
#lewy{
    background-color: #00600F;
    color: white;
    text-align: center;
    width:75%;
    height: 90px;
}
#prawy{
    background-color: #00600F;
    color: white;
    text-align: center;
    width: 25%;
    height: 90px;
    float:right;
}
main{
    background-color: #C8E6C0;
    height: 600px;
    overflow: scroll;
    clear: both;
}
footer{
    background-color: #00600F;
    color: white;
}
h5{
    background-color: #00600F;
    color: white;
    font-size: 200%;
    text-align: center;
    margin: 0px;
}
h2{
    text-align: right;
}
#produkt{
    margin: 10px;
    border: 1px solid #00600F;
    width: 300px;
    float: left;
}