*{
    font-family: Tahoma;
}
header, footer{
    background-color: RGB(72, 209, 204);
    color: white;
    text-align: center;
    padding: 5px;
    clear:both;
}
#ciasteczka{
    background-color: RGB(139, 69, 19);
    color: white;
    padding: 10px;
}
#lewy{
    background-color: RGB(175,238,238);
    width: 70%;
    height: 600px;
    float:left;
}
#prawy{
    background-color: RGB(175,238,238);
    width: 30%;
    height: 600px;
    float: left;
}
p{
    font-size:150%;
}
img{
    border: 1px solid grey;
    height: 250px;
    padding: 5px;
}
img:hover{
    height: 300px;
    border-color: black;
}