*{
    font-family: Georgia, sans-serif;
}
header, footer{
    background-color: forestgreen;
    color: white;
    padding:2px;
    text-align: center;
}
nav{
    background-color: darkkhaki;
    height: 150px;

}
aside, section{
    background-color: khaki;
    width:50%;
    height:400px;
}
aside img{
    padding:2px;
    margin: 10px;
    border: dotted 2px forestgreen;
}