body{
	font-family:Monocraft, serif;
}
header, footer{
	background-color:Indigo;
	color:white;
	padding:10px;
	text-align:center;
	clear:both;
}
nav{
	background-color:BlueViolet;
	padding:10px;
	text-align:right;
}
#lewy, #prawy{
	background-color:Lavender;
	height:500px;
}
#lewy{
	width:25%;
	float:left;
}
#prawy{
	width:35%;
	float:right;
}
#srodek{
	background-color: ghostwhite;
	text-align: center;
	height: 500px;
	width:40%;
	float:left;
}